{relx,
    [
        {release, {edht, "0.0.1"}, [edht]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
    ]
}.

{profiles,
    [
        {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
    ]
}.

{deps,
    [
        {protobuffs, {git, "git@github.com:basho/erlang_protobuffs.git", {tag, "0.8.4"}}},
        {bitcask, ".*", {git, "git@github.com:basho/bitcask.git", {branch, "develop"}}},
        {concha, "0.1.0"}
    ]
}.

%% Some magic needed to compile bitcask against erlang 19.x
%% See http://erlang.org/pipermail/erlang-questions/2016-January/087430.html
{overrides, [
    {override, bitcask, [
        {erl_opts, [
            warnings_as_errors, debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}
        ]},
        {deps, [lager]},
        {plugins, [pc]},
        {artifacts, ["priv/bitcask.so"]},
        {provider_hooks, [
            {post, [{compile, {pc, compile}},
                {clean, {pc, clean}}]}
        ]}
    ]}
]}.
